.es-vse-search__tab
{
    cursor:pointer;
}

.es-vse-search-input {
    padding-right: 10px !important;
}

.es-vse-search__cross {
    cursor: pointer;
    display: none;
    height: 0;
    z-index: 5;
    font-size: 20px;
    width: 0;
    position: relative;
    color: grey;
    left: calc(100% - 50px);
    top: calc(100% + -88px);
    background-color: white;
}

@media screen and (min-width: 994px) {
    .es-vse-search__cross {

        top: calc(100% - 128px);
    }
}

@media screen and (max-width: 994px) {
    .es-vse-search__cross {

        top: calc(100% - 92px);
    }
}


@keyframes es-vse-loader-kf {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.es-vse-get-more:hover:enabled{
    color:white !important;
}

.es-vse-get-more:hover:disabled{
    color: black;
    background-color: white;
    cursor: default;
    border-color:black;
}

.es-vse-loader,
.es-vse-loader:before {
    width: 41px;
    height: 41px;
    transform-origin: 50%;
    border: 2px solid transparent;
    border-radius: 50%;
    content: "";
    animation: linear es-vse-loader-kf 1800ms infinite;
    position: relative;
    vertical-align: inherit;
    line-height: inherit;
}
.es-vse-loader {
    top: -48px;
    display: none;
    margin: 0 3px;
    margin-bottom: -41px;
    left: 140px;
}
.es-vse-loader:before {
    border-color: #74a8d0 #74a8d0 transparent transparent;
    position: absolute;
    left: -2px;
    top: -2px;
    border-style: solid;
}
.es-vse-no-result {
    font-weight: normal !important;
}
