@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url(Source_Sans_Pro-italic-200.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url(Source_Sans_Pro-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url(Source_Sans_Pro-italic-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url(TitilliumWeb-Light.ttf) format('truetype');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(TitilliumWeb-Regular.ttf) format('truetype');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url(TitilliumWeb-Bold.ttf) format('truetype');
	unicode-range: U+0-10FFFF;
}

